<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">

  <!-- Page Title-->
  <title>Bloc - From Dorm to Home</title>

  <!-- Meta Tags-->
  <meta name="description" content="Bloc - City living built from the ground up, for the 21st century.">
  <meta name="keywords" content="appartment, broker, housing, new york city, nyc, college, rent">
  <meta name="author" content="mix_design">

  <!-- Viewport Meta-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Template Favicon & Icons Start -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/android-chrome-192x192.png">
  <link rel="manifest" href="img/favicons/site.webmanifest">
  <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#25237e">
  <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
  <meta name="msapplication-TileColor" content="#ffaca3">
  <!-- Template Favicon & Icons End-->

  <!-- Facebook Metadata Start -->
  <meta property="og:image:height" content="300">
  <meta property="og:image:width" content="573">
  <meta property="og:title" content="Bloc - From Dorm to Home">
  <meta property="og:description" content="City living built from the ground up, for the 21st century.">
  <meta property="og:url" content="https://bloc.nyc">
  <meta property="og:image" content="https://bloc.nyc/img/favicons/og-image.jpg">
  <!-- Facebook Metadata End -->

  <!-- Template Styles Start-->
  <link rel="stylesheet" type="text/css" href="css/plugins.min.css">
  <link rel="stylesheet" type="text/css" href="css/loader.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.min.css">
  <!-- Template Styles End-->

  <!-- Custom Browser Color Start-->
  <meta name="theme-color" content="black">
  <meta name="msapplication-navbutton-color" content="black">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Custom Browser Color End-->

</head>

<body class="overflow-hidden">

  <!-- Old Browsers Support Start-->
  <!--[if lt IE 9]>
      <script src="js/libs/es5-shim.min.js"></script>
      <script src="js/libs/html5shiv.min.js"></script>
      <script src="js/libs/html5shiv-printshiv.min.js"></script>
      <script src="js/libs/respond.min.js"></script>
    <![endif]-->
  <!-- Old Browsers Support End-->

  <!-- Loader Start-->
  <div class="loader">

    <!-- Loader Content Wrapper Start -->
    <div class="loader_content">

      <!-- Loader Logo Start -->
      <div class="loader-logo-container">
        <div class="loader-logo slideInDown">
          <img src="img/logo/bloc-logo-color.svg" alt="Bloc">
        </div>
        <div class="loader-caption slideInUp">
          <span class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </span>
        </div>
      </div>
      <!-- Loader Logo End -->

      <!-- Loader Content Start -->
      <div class="loader-content">
        <div class="col-12">
          <div class="content">
            <div class="loader-slogan">
              <div id="slogan-strings">
                <p>From Dorm to Home</p>
              </div>
              <span id="slogan"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader Content End -->

    </div>
    <!-- Loader Content Wrapper Start -->

    <div class="loader_background"></div>

    <!-- Loader Morphing Shape Start -->
    <div class="loader_shape">
      <svg class="loader-transition-shape" width="100%" height="100%" viewBox="0 0 1440 800" preserveAspectRatio="none">
        <path class="loader-morphing-path" d="M-22.4-87.7c-8.3,95.9,56.9,71.1,216.6,79c189.3,9.4,264.6-2.6,431.3-0.8c187.6,2,331.6-9.3,528.2-0.2c443.7,20.5,435.1-61.8,368.6-188.1C1455.9-324.1,34.5-746.7-22.4-87.7z"
        />
      </svg>
    </div>
    <!-- Loader Morphing Shape End -->

  </div>
  <!-- Loader End-->

  <!-- Menu Button Start -->
  <div class="menu-button">
    <a href="#" id="menu-trigger" class="menu-trigger">
      <span></span>
    </a>
    <!-- Menu Button Morphing Shape Start -->
    <svg class="menu-btn-morphing-object" width="100%" height="100%" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
      xml:space="preserve">
      <path class="menu-btn-morphing-path" d="M49.8,29.3c0,13.3-14.9,20.5-28.2,20.5S0.8,38.6,0.8,25.4S15.9,0.2,29.2,0.2S49.8,16,49.8,29.3z"
      />
    </svg>
    <!-- Menu Button Morphing Shape End -->
  </div>
  <!-- Menu Button Start -->

  <!-- Navigation Start-->
  <div class="navigation">

    <!-- Menu Content Wrapper Start -->
    <div class="navigation_content">

      <!-- Menu Close Button Start -->
      <a href="#" id="menu-close" class="navigation_close"></a>
      <!-- Menu Close Button End -->

      <!-- Menu Logo Start -->
      <div class="logo-wrapper">
        <!-- Your Logo Here -->
        <img src="img/logo/bloc-logo-color.svg" alt="Bloc">
      </div>
      <!-- Menu Logo End -->

      <!-- Menu Content Start -->
      <div class="menu-wrapper">
        <nav>
          <!-- Menu Start-->
          <ul class="menu" id="menu">
            <li data-menuanchor="main">
              <a href="#main">Home</a>
            </li>
            <li data-menuanchor="what-we-do">
              <a href="#what-we-do">What We Do</a>
            </li>
            <li data-menuanchor="perks">
              <a href="#perks">Perks</a>
            </li>
            <li data-menuanchor="our-buildings">
              <a href="#our-buildings">Our Buildings</a>
            </li>
            <li data-menuanchor="schools">
              <a href="#schools">Focus Schools</a>
            </li>
            <li data-menuanchor="waitlist">
              <a href="#waitlist">Join the Waitlist</a>
            </li>
          </ul>
          <!-- Menu End-->
        </nav>
        <!-- Socials Start-->
        <ul class="menu-socials">
          <li>
            <a class="" href="https://instagram.com/lifewithbloc" target="_blank">
              <i class="icon ion-social-instagram"></i>
            </a>
          </li>
          <li>
            <a class="" href="https://linkedin.com/company/blocnyc" target="_blank">
              <i class="icon ion-social-linkedin"></i>
            </a>
          </li>
        </ul>
        <!-- Socials End-->
      </div>
      <!-- Menu Content End -->

    </div>
    <!-- Menu Content Wrapper End -->

    <div class="navigation_background"></div>

    <!-- Menu Morphing Shape Start -->
    <div class="navigation_shape">
      <svg class="menu-transition-shape" width="100%" height="100%" viewBox="0 0 1440 800" preserveAspectRatio="none">
        <path class="menu-morphing-path" d="M-22.4-87.7c-8.3,95.9,56.9,71.1,216.6,79c189.3,9.4,264.6-2.6,431.3-0.8c187.6,2,331.6-9.3,528.2-0.2c443.7,20.5,435.1-61.8,368.6-188.1C1455.9-324.1,34.5-746.7-22.4-87.7z"
        />
      </svg>
    </div>
    <!-- Menu Morphing Shape End -->

  </div>
  <!-- Navigation End-->

  <!-- Header Start -->
  <header>
    <!-- Logo Start -->
    <div class="logo">
      <img src="img/logo/bloc-logo-color.svg" alt="Bloc">
    </div>
    <!-- Logo End -->

    <!-- Socials Start -->
    <div class="socials">
      <ul>
        <li>
          <a class="" href="https://instagram.com/lifewithbloc" target="_blank">
            <i class="icon ion-social-instagram"></i>
          </a>
        </li>
        <li>
          <a class="" href="https://linkedin.com/company/blocnyc" target="_blank">
            <i class="icon ion-social-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Socials End -->
  </header>
  <!-- Header End -->

  <!-- Fullpage.js Sections Start-->
  <main>

    <!-- Intro Section Start-->
    <section class="fp-auto-height-responsive main-section" data-anchor="main">
      <!-- Main Section Background Start-->
      <div class="main-section_background">
        <div class="overlay"></div>
        <svg class="main-background-shape" width="100%" height="100%" viewBox="0 0 1920 1080" preserveAspectRatio="none">
          <path class="main-background-path" d="M-60.3,409.8c0,0,391.5-127.3,699.1,69C943,673,1423.5,734.1,1720.6,413.1s601.4,2.7,547.4-306.3
            s-2076.2-363-2076.2-363l-450,372L-60.3,409.8z" />
          <path class="main-background-path" d="M-185,1003c40-274,382-198,562-124s762,234,1028,80s584-78,704,58s54,370-260,344s-528-192-1038-146
            S-254.4,1478.2-185,1003z" />
        </svg>
      </div>
      <!-- Main Section Background End-->

      <!-- Main Section Content Start -->
      <div class="main-section_content fullheight">
        <div class="container-fluid p-0 fullheight">
          <div class="row no-gutters fullheight">

            <!-- Main Section Intro Start -->
            <div class="col-12 col-xl-7 main-section_intro fullheight">

              <!-- Main Headline Start -->
              <div class="headline">

                <!-- Animated Headline Start -->
                <h1 class="animated-headline">
                  <span id="typed-strings">
                    <b>Find</b>
                    <b>Live</b>
                    <b>Connect</b>
                  </span>
                  <span id="typed"></span>
                  <br>
                  <span class="additional-text">with bloc</span>
                </h1>
                <!-- Animated Headline End -->

                <span class="divider"></span>
                <p>Bloc helps you find a beautiful, furnished apartment in New York City and a community of fun and interesting
                  people to fill it with.
                </p>
                <div class="btn-holder">
                  <a href="#" class="btn" data-trigger="waitlist">
                    <span class="btn-caption">Join the Waitlist</span>
                    <span class="icon ion-android-send"></span>
                  </a>
                  <a href="#what-we-do" class="btn">
                    <span class="btn-caption">Learn More</span>
                    <span class="icon ion-ios-arrow-down"></span>
                  </a>
                </div>
              </div>
              <!-- Main Headline End -->

            </div>
            <!-- Main Section Intro End -->

          </div>
        </div>
      </div>
      <!-- Main Section Content End-->
    </section>
    <!-- Intro Section End-->

    <!-- What We Do Section Start-->
    <section class="fp-auto-height what-we-do-section" data-anchor="what-we-do">
      <div class="container-fluid p-0">

        <!-- Section Title Start -->
        <!-- Section Title Start -->
        <div class="section-title centered">
          <div class="content-block additional-block auto-height centered">
            <h2>What We Do.</h2>
            <span class="divider"></span>
            <span class="subtitle">
              We reserve brand-new NYC apartment buildings for new grads. We pre-furnish and pre-wire every apartment with Wi-Fi. And we
              help you stay connected with NYC social events only for Bloc members.
            </span>
            <br>
            <h3>Welcome home.</h3>
          </div>
        </div>
        <!-- Section Title End -->

        <!-- Features Block Start -->
        <div class="features features-scroll">
          <div class="row no-gutters">

            <!-- Features Single Item Start -->
            <div class="col-12 col-lg-4 feature-item">
              <div class="feature-item_description">
                <h3>Effortless Search.
                  <br>Perfect Place.</h3>
                <span class="divider"></span>
                <p>Shorten your apartment search from months to minutes. Want to be close to the F Train? A short commute to
                  work? Nightlife in walking distance? Tell us what you need and we’ll find the perfect place for you.</p>
              </div>
            </div>
            <!-- Features Single Item End -->

            <!-- Feature Image Start -->
            <div class="col-12 col-lg-4 feature-image feature-image-1"></div>
            <!-- Feature Image End -->


            <!-- Features Single Item Start -->
            <div class="col-12 col-lg-4 feature-item">
              <div class="feature-item_description">
                <h3>Welcome Home.
                  <br>At the Click of a Button.</h3>
                <span class="divider"></span>
                <p>Apply and furnish your new apartment without a broker, on your own time. No more back-and-forth.</p>
                <br>
                <p>After move-in, pay your rent, order service, and stay connected to your Bloc through our members-only portal.</p>
              </div>
            </div>
            <!-- Features Single Item End -->

          </div>
          <div class="row no-gutters">

            <!-- Feature Image Start -->
            <div class="col-12 col-lg-4 feature-image feature-image-2"></div>
            <!-- Feature Image End -->

            <!-- Features Single Item Start -->
            <div class="col-12 col-lg-4 feature-item">
              <div class="feature-item_description">
                <h3>Truly Social.
                  <br>Not Media.</h3>
                <span class="divider"></span>
                <p>Most of your day is spent behind a screen. We help you disconnect and enjoy the city with our curated experiences.</p>
              </div>
            </div>
            <!-- Features Single Item End -->

            <!-- Feature Image Start -->
            <div class="col-12 col-lg-4 feature-image feature-image-3"></div>
            <!-- Feature Image End -->

          </div>
        </div>
        <!-- Features Block End-->

      </div>
    </section>
    <!-- What We Do Section End-->

    <!-- Perks Section Start-->
    <section class="fp-auto-height perks-section" data-anchor="perks">
      <div class="container-fluid p-0">

        <!-- Section Title Start -->
        <div class="section-title centered">
          <div class="content-block additional-block auto-height centered">
            <h2>Perks.</h2>
            <span class="divider"></span>
            <span class="subtitle">
              We take care of the small stuff.
            </span>
          </div>
        </div>
        <!-- Section Title End -->

        <div class="row no-gutters">

          <!-- Portfolio Section Media Start-->
          <div class="col-12 content-section_media">


            <!-- Works Gallery Start -->

            <div class="row m-0 perks">

              <!-- Works Gallery Single Item Start -->
              <figure class="col-12 col-md-6 p-0">
                <div class="perk-image-container">
                  <img src="/img/perks/perk-bedroom.jpg" class="perk-image perk-image--large" alt="">
                </div>
                <figcaption class="perk-description">
                  <h4>Private Bedroom
                    <small>Your sanctuary away from the city.</small>
                  </h4>
                </figcaption>
              </figure>
              <!-- Works Gallery Single Item End -->

              <!-- Works Gallery Single Item Start -->
              <figure class="col-12 col-md-6 p-0">
                <div class="perk-image-container">
                  <img src="/img/perks/perk-community.jpg" class="perk-image perk-image--large" alt="">
                </div>
                <figcaption class="perk-description">
                  <h4>
                    Community
                    <small>Dinners, bar nights, Broadway shows, and more. Exclusively for Bloc members.</small>
                  </h4>
                </figcaption>
              </figure>
              <!-- Works Gallery Single Item End -->

              <!-- Works Gallery Single Item Start -->
              <figure class="col-12 col-md-6 p-0">
                <div class="perk-image-container">
                  <img src="/img/perks/perk-furnished.jpg" class="perk-image perk-image--large" alt="">
                </div>
                <figcaption class="perk-description">
                  <h4>
                    Fully Furnished
                    <small>Designer furniture delivered, assembled, and ready for you and your friends.</small>
                  </h4>
                </figcaption>
              </figure>
              <!-- Works Gallery Single Item End -->

              <!-- Works Gallery Single Item Start -->
              <figure class="col-12 col-md-6 p-0">
                <div class="perk-image-container">
                  <img src="/img/perks/perk-wifi.jpg" class="perk-image perk-image--large" alt="">
                </div>
                <figcaption class="perk-description">
                  <h4>
                    Wifi Included
                    <small>Never skip a beat or post.</small>
                  </h4>
                </figcaption>
              </figure>
              <!-- Works Gallery Single Item End -->
            </div>


          </div>
          <!-- Portfolio Section Media End-->

        </div>
      </div>
    </section>
    <!-- Perks Section End-->

    <!-- Our Buildings Start-->
    <section class="fp-auto-height" data-anchor="our-buildings">
      <div class="container-fluid p-0 fullheight">
        <!-- Section Title Start -->
        <div class="section-title centered">
          <div class="content-block additional-block auto-height centered">

            <h2>Our Buildings</h2>
            <span class="divider"></span>
            <p class="subtitle">Coming Soon</p>
          </div>
        </div>
        <!-- Section Title End -->
      </div>
    </section>
    <!-- Our Buildings End-->

    <!-- Schools Section Start-->
    <section class="fp-auto-height schools-section" data-anchor="schools">
      <div class="container-fluid p-0 fullheight">

        <!-- Stay in Touch Block Start -->
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-6">
            <div class="content-block additional-block auto-height centered">

              <!-- Section Title Start -->
              <div class="section-title centered">
                <h2>Focus Schools</h2>
                <span class="divider"></span>
                <p class="additional-subtitle">
                  Bloc is committed to helping grads through every step of moving to a new city, so we hold rental summits at campuses nationwide.
                </p>
                <br>
                <p class="additional-subtitle">
                  We’re already helping at these places and adding more every day. Reach out to us no matter where you go to school.
                </p>
                <br>
                <div class="row">
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/duke.png" alt="Duke University">
                    </div>
                  </div>
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/uva.png" alt="University of Virginia">
                    </div>
                  </div>
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/vanderbilt.png" alt="Vanderbilt University">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/unc.png" alt="University of North Carolina">
                    </div>
                  </div>
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/stanford.png" alt="Stanford University">
                    </div>
                  </div>
                  <div class="col-4 col-md-4 school-ctn">
                    <div class="school-ctn__img">
                      <img src="img/schools/usc.png" alt="University of Southern California">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Section Title End -->

            </div>
          </div>
        </div>
        <!-- Stay in Touch Block End -->

      </div>
    </section>
    <!-- Schools Section End-->

    <!-- Waitlist Section Start-->
    <section class="fp-auto-height waitlist-section" data-anchor="waitlist">
      <div class="container-fluid p-0 fullheight">

        <!-- Stay in Touch Block Start -->
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-8">
            <div class="content-block additional-block auto-height centered">

              <!-- Section Title Start -->
              <div class="section-title centered">
                <h2>Want in on the Bloc Party?</h2>
                <span class="divider-white"></span>
                <div class="btn-holder centered">
                  <a href="#" data-trigger="waitlist" class="btn btn--pink">
                    <span class="btn-caption">Join the Waitlist</span>
                    <span class="icon ion-android-send"></span>
                  </a>
                </div>
                <p class="subtitle">Drop us a line anytime at hello@bloc.nyc</p>
              </div>
              <!-- Section Title End -->

            </div>
          </div>
        </div>
        <!-- Stay in Touch Block End -->

      </div>
    </section>
    <!-- Waitlist Section End-->

    <!-- Footer Section Start-->
    <section class="fp-auto-height footer-section" data-anchor="footer">
      <div class="container-fluid p-0">

        <!-- Footer Block Start-->
        <div class="row no-gutters justify-content-center bg-dark">

          <!-- Footer Content Start-->
          <div class="col-12 col-xl-6">
            <div class="footer">

              <div class="content-block auto-height centered">
                <div class="footer_logo">
                  <!-- Your Logo Here -->
                  <img src="img/logo/bloc-logo.svg" alt="Punchy">
                </div>

                <div class="footer_slogan">
                  <p>From Dorm to Home</p>
                </div>

                <!-- Socials Start -->
                <div class="footer_socials">
                  <ul>
                    <li>
                      <a class="light-text" href="https://instagram.com/lifewithbloc" target="_blank">
                        <i class="icon ion-social-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a class="light-text" href="https://www.linkedin.com/company/blocnyc" target="_blank">
                        <i class="icon ion-social-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- Socials End -->

                <!-- Credits Start -->
                <div class="credits">
                  <p>&copy; Bloc 2019, all rights reserved</p>
                </div>
                <!-- Credits Start -->
              </div>

            </div>
          </div>
          <!-- Footer Content End-->

        </div>
        <!-- Footer Block End-->

      </div>
    </section>
    <!-- Footer Section End-->

  </main>
  <!-- Fullpage.js Sections End-->

  <!-- Write-a-Line Popup Start -->
  <div class="popup popup-light waitlist">

    <!-- Popup Content Wrapper Start -->
    <div class="popup_content">

      <!-- Close Button Start -->
      <a href="#0" id="waitlist-close" class="popup_close waitlist-close"></a>
      <!-- Close Button End -->

      <div class="container-fluid p-0 fullheight">
        <div class="row no-gutters justify-content-center fullheight">
          <div class="col-12 col-xl-4 fullheight">

            <div class="popup-wrapper--ty">
              <div class="popup-title">
                <p class="title">Thanks for submitting! You’re one step closer to NYC life. We’ll be in touch with next steps.</p>
                <span class="divider"></span>
              </div>
            </div>

            <div class="popup-wrapper--error">
              <div class="popup-title">
                <p class="title">Opps! It looks like there was an issue with your submission! Please try again.</p>
                <span class="divider"></span>
              </div>
            </div>

            <!-- Write-a-Line Content Start -->
            <div class="popup-wrapper">

              <!-- Write-a-Line Title Start -->
              <div class="popup-title">
                <p class="title">Join the Waitlist</p>
                <span class="divider"></span>
                <p id="tell-us-about-you" class="subtitle">Tell us a little about you and we'll reach out when we're ready to help you find your new home.</p>
              </div>

              <!-- Write-a-Line Title End -->
              <!-- <form class="form" id="gf-form" novalidate action="https://docs.google.com/forms/u/1/d/e/1FAIpQLScSj9KtGTznyGVEUjT5d1XI8r-9jm0eLYJ7DfxbNB1qmH3Y_A/formResponse"> -->
              <div class="popup-content-ctn">
                <form class="form" id="gf-form" novalidate>
                  <div class="form-el">
                    <label>What's your name?*</label>
                    <input tabindex="1" name="entry.992110476" id="first-el" type="text" required/>
                  </div>
                  <div class="form-el">
                    <label>What's your non-school email?*</label>
                    <input tabindex="2" name="entry.977005694" type="text" required/>
                  </div>

                  <div class="form-el">
                    <label>What's your phone number?*</label>
                    <input tabindex="3" name="entry.252604591" type="text" required/>
                  </div>

                  <div class="form-el">
                    <label>Where do you go to school?*</label>
                    <input tabindex="4" name="entry.454850903" type="text" required/>
                  </div>

                  <div class="form-el">
                    <label>When are you moving to NYC?*</label>
                    <input tabindex="5" name="entry.343111639" type="text" required/>
                  </div>

                  <div class="form-el">
                    <label>How many bedrooms does your group need?*</label>
                    <select tabindex="6" name="entry.1017547701">
                      <option value="1" name="entry.1017547701">1</option>
                      <option value="2" name="entry.1017547701">2</option>
                      <option value="3" name="entry.1017547701">3</option>
                      <option value="Not sure yet" name="entry.1017547701">Not sure yet</option>
                    </select>
                  </div>

                  <button class="btn" type="submit">
                    <span class="btn-caption btn-caption--submit">Submit</span>
                  </button>

                </form>
              </div>
              <!-- <div class="typeform-widget" data-url="https://blocnyc.typeform.com/to/Xc4sCs" data-transparency="100" data-hide-footer=true
                style="width: 100%; height: 500px;"></div>
              <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
              <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by
                <a href="https://admin.typeform.com/signup?utm_campaign=Xc4sCs&utm_source=typeform.com-4594888-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
                  style="color: #999" target="_blank">Typeform</a>
              </div> -->
            </div>
            <!-- Write-a-Line Content End -->

          </div>
        </div>
      </div>
    </div>
    <!-- Popup Content Wrapper End -->

    <div class="popup_background"></div>

    <!-- Popup Morphing Shape Start -->
    <div class="popup_shape">
      <svg class="popup-transition-shape" width="100%" height="100%" viewBox="0 0 1440 800" preserveAspectRatio="none">
        <path class="popup-morphing-path" d="M-22.4-87.7c-8.3,95.9,56.9,71.1,216.6,79c189.3,9.4,264.6-2.6,431.3-0.8c187.6,2,331.6-9.3,528.2-0.2c443.7,20.5,435.1-61.8,368.6-188.1C1455.9-324.1,34.5-746.7-22.4-87.7z"
        />
      </svg>
    </div>
    <!-- Popup Morphing Shape End -->

  </div>
  <!-- Write-a-Line Popup End -->

  <!-- Load Scripts Start-->


  <script src="js/libs.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/app.js"></script>
  <!-- Load Scripts End-->

</body>

</html>